# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
dist/
*.spec

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
